<phpunit colors="true" bootstrap="vendor/.composer/autoload.php">

  <testsuites>
    <testsuite name="MySQLndUhTool">
      <directory>tests/src/MySQLndUhTool</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory>src/MySQLndUhTool</directory>
    </whitelist>
  </filter>

</phpunit>

